:host {
  width: 100%;
  height: 40%;
}

img {
  max-width: 100%;
  height: 45%;
}

.content {
  width: 100%;
  height: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow: hidden;
}

.tag {
  background: var(--main-color);
  color: white;
  font-size: var(--step--2);
}

h1 {
  color: var(--main-color);
  font-size: var(--step-2);
}

p  {
  color: black;
  font-size: var(--step-o);
}

.footer {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
